@import url("./flotanteyFooter.css");

body{
        background: linear-gradient(90deg, rgb(243, 221, 230) 0%, rgb(210, 225, 239) 47%, rgb(203, 239, 243) 100%);
}

.fondo {
    background-image: url('../Img/fondoalba.png');
    border: 1px solid blueviolet;
    width: 100%; 
    height: 40vw;
    background-size: cover;
    background-position: center;
    text-transform: capitalize;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.contador {
    padding: 5%;
}

.contador1 {
    display: flex;
    color: #3F47CC;
    font-size:4dvw;
    justify-content: space-around;
}
.contador1 h2 {
    font-size: 1.2dvw;
    color: black;
    font-weight: bold;
}
.contadorexpertos {
    width: 50%;
    box-sizing: border-box;
    border-right: 3px solid rgb(195, 193, 193);
    border-width: 5px;
    text-align: center;
}
.contadorusuarios {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}


.container {
    padding: 4%;
    
    /*background-color: #c2c6f4;*/
}

.elporque {
    text-align: center;
    font-family: 'Calibri Light', 'Calibri', sans-serif;
    color: black;
    font-size: 1.5vw;

}


.iconos {
    display: flex;
    padding: 3%;
    color: black;
    flex-wrap:wrap;
    justify-content: space-between;
}

.text1 {
    background-size: contain;
    background-repeat: repeat;
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5vw;
}

.seguridad {
    display:flex;
    background-image: url('../Img/seguridad.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    margin-bottom: 10px;
}
.facilidad {
    background-image: url('../Img/facilidad.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    margin-bottom: 10px;
}
.comodidad {
    background-image: url('../Img/comodidad.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    margin-bottom: 10px;
}
.inmediatez {
    background-image: url('../Img/inmediatez.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    margin-bottom: 10px;
}
.experiencias {
    background-image: url('../Img/experiencias.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    margin-bottom: 10px;
}
.costos {
    background-image: url('../Img/costos.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    margin-bottom: 10px;
}

.cuerpo{
    background-color: white;
    font-family: 'calibri', sans-serif;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.contenedorIntro {
    position: relative; /* Mantiene la referencia para los hijos */
    width: 100%;
    height: 60vw;/* para ocupar toda la pantalla*/
    display: flex;
    justify-content:center;  /* para separar */
    align-items: center;      
    background-color: #3F47CC;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.imgFondo{
    width: 100%;
    height: 100%;
    object-fit: cover; /*la imagen cubre todo el espacio del div*/
    opacity: 0.4; /* transparencia para resaltar la letra*/
    position: absolute; /* Para que no afecte el contenido */
    border-radius: 10px;
}

.introduccion{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color: white;
}

.h1intro{
    font-size:3.5 dvw;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 3vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
}

.contIntro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn1 {
    display: inline-flex;
    width: 50%;
    height: 15%;
    margin: 30px;
    background-color: #3F47CC;; 
    color: white;
    font-size: 3dvw;
    font-weight: bold;
    justify-content: center; 
    border-radius: 10px;
    opacity: 0.6; 
    cursor: pointer; /* Indica que es interactivo */
    user-select: none; /* Evita la selección de texto */
    align-items: center;
}

.btn1:hover {
    background-color: #d9e6f3cb; ; /* Color más oscuro al pasar el mouse */
}

.btn1:active {
    background-color: #6a85a1; /* Color más oscuro al hacer click */
}

.btn1 a {
    text-decoration: none;
    color: white;
}

.explicacion{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10px;
}

.pasos{
    display: flex;
    width: 80%;
    height: 40vh;
    gap: 10px;
    opacity: 0.7; 
    flex-wrap: nowrap;
    justify-content:center;
    max-width: 90vw; /* Para que no se expanda demasiado */
    text-align: center;
}

.fase{
    width: 50%;
    height: 10vw;
    border-radius: 10px;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    text-align:center;
    margin: 3%;
 }

 .textito{
    display: flex;
    font-weight: bold;
    text-align: center;
    font-size: 1dvw;;
 }

.filtro{
    background-image: url('../Img/filtro.jfif');
    background-size:cover;
}

.siguiente{
    background-image: url('../Img/siguiente.png');
    background-size:cover;
}

.seleccion{
    background-image: url('../Img/seleccion.jfif');
    background-size:cover;
}

.contactar{
    background-image: url('../Img/contactar.jpg');
    background-size:cover;
}

/*====================================*/
/*-- Inicia area para cards oficios --*/

.containerOficios{
    width: 100%;
}

.encabezado{
    margin-top: 15px;
    text-align: center;
    color: #3F47CC;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 3vw;
}

.cardOfi{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
    padding: 30px;
}

.minicard{
    width: 10%;
    height: 10vw;
    border-radius: 10px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.1);
} 

a.textito{
    font-size: 1vw;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    color:  black;
}

.plomero{
    background-image: url('../Img/Plomero.jfif');
    background-size:cover;
}

.gasista{
    background-image: url('../Img/Gasista.jfif');
    background-size:cover;
}

.herrero{
    background-image: url('../Img/Herrero.jfif');
    background-size:cover;
}

.fletero{
    background-image: url('../Img/Fletero.jfif');
    background-size:cover;
}

.domestic{
    background-image: url('../Img/Domestico.jfif');
    background-size:cover;
}

.cuidadoadultos{
    background-image: url('../Img/CuidadoAdultos.jfif');
    background-size:cover;
}

.pintor{
    background-image: url('../Img/Pintor.jfif');
    background-size:cover;
}

.alarmas{
    background-image: url('../Img/Alarmas.jfif');
    background-size:cover;
}

.cerrajero{
    background-image: url('../Img/Cerrajero.jfif');
    background-size:cover;
}

.carpintero{
    background-image: url('../Img/Carpintera.jfif');
    background-size:cover;
}

.jardinero{
    background-image: url('../Img/Jardinero.jfif');
    background-size:cover;
}

.albanil{
    background-image: url('../Img/Albanil.jfif');
    background-size:cover;
}

.aireacond{
    background-image: url('../Img/Aire.jfif');
    background-size:cover;
}

.limpalfombras{
    background-image: url('../Img/Alfombras.jfif');
    background-size:cover;
}

.techista{
    background-image: url('../Img/Techista.jfif');
    background-size:cover;
}

.viajante{
    background-image: url('../Img/Transportista.jfif');
    background-size:cover;
}

/* Fin Card Oficios */


.user-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-menu .avatar {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 1px dashed white;
  vertical-align: middle;
}

.user-menu .dropdown {
  display: none;
  position: absolute;
  top: 100%; /* justo debajo del avatar */
  left: 50%; /* centrado respecto al avatar*/
  transform: translateX(-50%); /*corrección para centrar*/
  background: linear-gradient(90deg, rgb(243, 221, 230) 0%, rgb(210, 225, 239) 47%, rgb(203, 239, 243) 100%);
  box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 10px;
  width: 8vw;
  margin-top: 5px;   /* separación hacia abajo */
  z-index: 10;
  font-size: 1vw;
  font-family: 'Calibri Light', Calibri, sans-serif;
}

.user-menu:hover .dropdown {
  display: block;
}

.user-menu .dropdown a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  text-align: center; /* centra el texto */
}

.user-menu .dropdown a:hover {
  background: #f0f0f0;
}
