.contactanos {
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    justify-items: center;
    font-size: 1.8vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
    background: linear-gradient(100deg, rgb(243, 197, 218) 0%, rgb(197, 223, 245) 47%, rgb(192, 233, 238) 100%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.contactanos h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}
.contactanos p {
    margin-bottom: 30px;
    color: #555;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.contactanos1 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
    width: 60%;
    border-radius: 10px;
}
.contacto-formulario {
    flex: 1;
    min-width: 300px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    justify-items: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    margin-bottom: 2vw;
}
.contacto-formulario h3 {
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos del formulario */

.contacto-formulario1 {
    display: block;
    text-align: center;
    background: linear-gradient(90deg, rgb(243, 221, 230) 0%, rgb(210, 225, 239) 47%, rgb(203, 239, 243) 100%);
    width: 25vw;
    justify-items: center;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    padding: 1vw;
}

.contacto-formulario1 label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.contacto-formulario1 input {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1vw;
    margin-top: 1vw;
    width: 10vw;
    height: 1.5vw;
    text-align: justify;
    font-size: 1vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
    background-color: rgb(248, 245, 245);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border: none;
}

.contacto-formulario1 textarea {
    display: flex;
    border-radius: 10px;
    background-color: white;
    min-height: 10vw;
    min-width: 20vw;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 1vw;
    text-align: justify;
    resize: none;
    font-size: 1vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
    background-color: rgb(248, 245, 245);
    border: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.contacto-formulario1 textarea {
    resize: none;
}

.contacto-formulario1 input:focus,
.contacto-formulario1 textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.contacto-formulario1 .boton {
    display: flex;
    padding: 2px;
    border: none;
    background-color: rgb(68, 156, 223);
    border-radius: 30px 30px 30px 30px;
    width: 40%;
    height: 2.5vw;
    cursor: pointer;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1.5vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 3vw;
}