.cuerpoLogIn {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 1.5vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(243, 221, 230) 0%, rgb(210, 225, 239) 47%, rgb(203, 239, 243) 100%);
}
.login-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 1.5vw;
    width: 20%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
#formInicio {
    display: flex;
    flex-direction: column;
    width: 14vw;
    align-items: center;
}
.login-container h2 {
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 3vw;
}
.input-grouplogin {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-grouplogin label {
    display: flex;
    font-size: 1.5dvw;
    justify-content: center;
    font-family: 'Calibri Light', Calibri, sans-serif;
}
.recuadro {
    border-radius: 0.5vw;
    height: 2vw;
    width: 100%;
    border: solid 1px #d8d5d5;
    margin-bottom: 20px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
    background: rgb(243, 244, 247);
    font-size: 1.5vw;
}
.login-btn {
    width: 6vw;
    padding: 3%;
    background: #007acc;
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1.0vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
.register-btn {
    width: 60%;
    padding: 3%;
    color: #007acc;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1.0vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
}
.reestablecer {
    font-size: 0.7vw;
    color: blueviolet;
    font-family: 'Calibri Light', Calibri, sans-serif;
    margin-bottom: 2vw;
}
.login-btn:hover {
    background: #005f99;
}