.password-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.icon-eye {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #6b6b6b;
  transition: 0.2s ease;
}

.icon-eye:hover {
  color: #1b6edb;
}