.tarjeta {
    display: block;
    border: 1px solid rgb(244, 241, 241);
    width: 95%;
    height: 100%;
    background-color: rgb(248, 245, 245);
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(243, 221, 230) 0%, rgb(210, 225, 239) 47%, rgb(203, 239, 243) 100%);
    margin-left: 2.5%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}
.linea {
    display: flex;
    margin-top: 2vw;
    flex-direction: column;
    align-items: center;
}
.linea h1 {
    font-family: 'Calibri Light', Calibri, sans-serif;
    text-align: center;
    color: rgb(68, 156, 223);
    font-size: 3vw;
}
.tituloCarrusel{
    justify-items: left;
    margin-right: 20vw;
}
#imagen {
    background-image: url('../../Images/perfilt.jfif');
    background-size:contain;
    width: 100%; 
    height: 10vw;
    margin-top: 3vw;
}
.primeraparte {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 3;
    align-items: center; 
    object-fit: contain;
    justify-content: space-around;
}
.divcarrusel {
    display: block; 
    height: 30%;
    width: 30%;
    justify-items: center;
    margin-bottom: 8%;
    text-align: center;
}
.tituloSeccionImg {
    height: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}
.tituloSeccionImg h4 {
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 2vw;
    color: rgb(68, 156, 223);
}
.carrusel {
    display: flex;
    margin-top: 1vw; 
    height: 30vw;
    min-width: 55%; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px; 
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgb(216, 213, 213);
    margin-bottom: 1vw;
    background-color: rgb(248, 245, 245);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}
.carrusel>img {
    display: block;
    width: 40%;
    height: 20%;
    border-radius: 10px;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 200px; 
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.carrusel > img:hover {
    transform: scale(1.1); 
}
.imagen-carrusel {
  display: block;
  width: 80%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.2s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 1vw 0;
}
.imagen-carrusel.seleccionada {
  transform: scale(1.05);
  border: 3px solid rgb(68, 156, 223);
  box-shadow: 0 0 10px rgba(68, 156, 223, 0.7);
}
#divbtnagregarimg {
    display: flex;
    height: 100%; 
    width: 100%; 
    justify-content: space-around;
}
.btnagregareliminarimg {
    display: flex;
    border: hidden;
    background-color: rgb(68, 156, 223);
    border-radius: 30px 30px 30px 30px;
    width: 40%;
    height: 2vw;
    cursor: pointer;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    color: white;
}
.trabajador{
    display: flex;
    min-width: 40%; 
    max-width: 40%;
    margin: 1px;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1vw;
    justify-content: center;
    background-color: rgb(248, 245, 245);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    margin-top: -10vw;
}
.imagentrab {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 80%;
    max-width: 80%;
    border-radius: 10px;
    margin: 8px;
    object-fit: contain;  
}
h3 {
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 3vw;
    color: rgb(68, 156, 223);
}
.descripcion {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%; 
    width: 100%; 
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.descripcion a {
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1.8vw;
    color: gray;
}
#textareaqs {
    display: flex;
    border-radius: 10px;
    background-color: white;
    min-height: 10vw; 
    min-width: 40%; 
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 1vw;
    text-align:justify;
    resize: none;
    font-size: 1vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
    background-color: rgb(248, 245, 245);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 2%;
}
.botonguardardatos {
    display: flex;
    justify-content: center;
    margin: 2vw;
}
#botonguardar {
    display: flex;
    border: none;
    background-color: rgb(68, 156, 223);
    border-radius: 30px 30px 30px 30px;
    width: 8vw;
    height: 2.5vw;
    cursor: pointer;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1vw;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    color: white;
}
.placeHolderCarrucel {
    font-size: 1.5vw;
    text-align: center;
    padding: 2vw;
    color: gray;
}

.input-group p {
    font-size: 1vw;
    color: rgb(68, 156, 223);;
}
.btn-pago {
    display: inline-block;
    padding: 12px 20px;
    background: #4caf50;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
}

.btn-pago:hover {
    background: #43a047;
}
.contenedor-pago {
    display: flex;
    justify-content: center;
}
.contenedor-etiquetas {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.datos {
    border: 1px solid rgb(216, 213, 213);
    color: rgb(223, 220, 220);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}
.tag-oficio {
  background: #abacac;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.tag-oficio:hover {
  background: #0f4fa8;
}
