@import url("./flotanteyFooter.css");
@import url("./styleperfiltrab.css");
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(243, 221, 230) 0%, rgb(210, 225, 239) 47%, rgb(203, 239, 243) 100%);
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #444;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    color: #010e5e;
}

.contenido {
    background: white;
    padding: 30px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1.0vw;
    border-left: 5px solid #007bff;
}

.contenido h2 {
    color: #333;
}

.botones button {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones button:hover {
    background: #0056b3;
}
/******** Comunes Usuario y Trabajador*************/
.perfil-container {
    width: 90%;
    align-items: center;
    margin: 30px auto;
    background-color: white;
    padding: 2.0vw;
    border-radius: 1.0vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(203, 239, 243) 10%, rgb(210, 225, 239) 47%, rgb(243, 221, 230) 100%);
}

.perfil-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2.0vw;
    margin: auto;
    margin-bottom: 2vw;
}

.foto-perfil {
    width: 25.0vw;
    height: 25.0vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-image: url('../Img/sinperfil.png');
    background-size:cover;
}


.info-imgPerfil{
    position: relative;
    width: auto;
    display: inline-block;
    text-align: center;
    padding: 2%;
}

.lapiz {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 2vw;
  background-color: rgb(206, 236, 248); /* opcional, mejora la visibilidad */
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}

.info-perfil{
    width: 55%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2%;
    background-color: white;
    border-radius: 4vw;
    text-align: center;
}

.info-perfil div {
    justify-content:space-between;
    width: 70%;
}

h4{
    color: #268fff;
    font-size: 1.5vw;
}

.lapiz1{
    font-size: 1.5vw;
}
.inputt input {
  width: 18vw;       
  padding: 5px;
  font-size: 1.5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.botonModyElim{
    height: 2%;
    justify-content: center;
    background: rgb(252, 249, 249);
    color : #0163cc;
    font-size: 1.1vw;
    font-weight: bold;
    margin: 2%; 
    padding: 2%;
    border-radius: 10px;
    border-color:rgb(200, 208, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.botonModyElim button:hover{
    background: #80b9f7;
}

.inputtElim{
    display: flex;
}

#inputEliminarPass{
    width: 60%;    
    padding: 5px;
    font-size: 1.4vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modificar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}


/*********  Style de Trabajador *******/

.perfil-container1 {
    display: flex;
    width: 90%;
    align-items: center; 
    text-align: start;
    margin: 30px auto;
    background-color: white;
    padding: 2.0vw;
    border-radius: 1.0vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subDiv{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.imagenes {
      display: flex;
      width: 30vw;
      height: auto;
}

.imagenes img {
    margin: 5px;
    width: 20vw;
    height: 20vw;
}

.video {
  margin-top: 20px;
  max-width: 560px;
}
.video iframe {
  width: 100%;
  border-radius: 10px;
}

p{
    color: #0056b3;
}

textarea{
    margin: 5px;
    width: 70%;
    height: 10vw;
    font-size: 1.2vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#inputReferencia{
    margin: 5px;
    width: 70%;
    height: 5vw;
    font-size: 1.2vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedorFotoPerfil{
    display: block;
    justify-items: center;
}

.btnAgregarFotoPerfil{
    margin-top: 1vw;
}

.btnagregareliminarimg{
    width: 10vw;
}