.contenedor-desplegables {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
    text-align: center;
}

.desplegable {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 99%;
    opacity: 0.8;
    cursor: pointer;
}

.boton-desplegable {
    background-color: #a6d0fd;
    color: rgb(20, 20, 24);
    padding: 1.2vw 1.8vw;
    font-size: 1.4vw;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 90%;
    transition: background-color 0.3s;
}

.boton-desplegable:hover {
    background-color: #65adff;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 20.0vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
}

.contenido-desplegable a {
    color: #333;
    padding: 1.0vw 1.4vw;
    text-decoration: none;
    display: block;
}

.contenido-desplegable a:hover {
    background-color: #f1f1f1;
}

.desplegable:hover .contenido-desplegable {
    display: block;
}

