.cuerpoPrivacidad {
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    align-items: center;
    margin-bottom: 1vw;
    justify-content: center;
}
.containerPrivacidad {
    background: linear-gradient(90deg, rgb(203, 239, 243) 0%, rgb(210, 225, 239) 47%, rgb(243, 221, 230) 100%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 1.5vw;
    width: 100%;
    text-align: center;
    font-size: 1vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
    margin-bottom: 2vw;
}
.containerPrivacidad h3{
    font-size: 1.5vw;
    color: black;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-weight: bold;
}
.containerPrivacidad li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-family: 'Calibri Light', Calibri, sans-serif;
}
.mensaje-error {
    color: red;
    font-size: 0.8vw;
    margin-top: 4px;
    font-family: 'Calibri Light', Calibri, sans-serif;
    text-align: center;
}
.error {
    border: 2px solid red !important;
    background-color: #ffe6e6 !important;
}