.cuerpoQS{
  font-family: 'calibri', sans-serif;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  width: 95%;
  margin-left: 2.5%;
  justify-items: center;
  background-color: white;
  border-radius: 1vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.subCont {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  width: 90%;
}
.contTexto{
  width: 95%;
  height: 100%;
  text-align:justify;
  justify-items: center;
  padding: 2%;
  font-size: 1.5vw;
}
.contTextoImg {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.contTextoImg > div:first-child {
  flex: 1; 
  margin-right: 5vw;
}
.images{
  border-radius: 10%;
  height: 20vw;
}

@media (max-width: 768px) {
  .contTextoImg {
    flex-direction: column; /* 🔹 Imagen debajo del texto */
    align-items: center;
  }
  .images{
    width: 80%;
  }
}
