.cuerpo {
    width: 95%;
    margin-left: 2.5%;
    align-items: center;
    background-color: white;
    border-radius: 1.0vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(203, 239, 243) 10%, rgb(210, 225, 239) 47%, rgb(243, 221, 230) 100%);
    padding: 4px;
}
.contenido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info-imgPerfil {
    justify-items: center;
    margin-top: -45vw;
}
.info-perfil {
    width: 55%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2%;
    background-color: white;
    border-radius: 4vw;
    text-align: center;
}
.foto-perfil {
    width: 25.0vw;
    height: 25.0vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-size: cover;
}
h2{
    text-align: center;    
    color: gray;
}
.formularios {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2%;
    background-color: white;
    border-radius: 4vw;
    text-align: center;
    justify-content: start;
    gap: 1rem;
    width: 45%;
    margin-top: 2vw;
}
.formularios h2 {
    color: #268fff;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 4vw;
}
.modificar {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.modificar .contenedor-etiquetas {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 2vw;
    margin-top: -5vw;
}
.modificar h4 {
    width: 30%;
    text-align: center;
    color: #268fff;
    font-size: 1.5vw;
}
.modificar input {
    width: 18vw;
    padding: 5px;
    font-size: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: grey;
}
.perfil-profesional{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}
.perfil-profesional h4{
    width: 30%;
    text-align: center;
    font-size: 1.4vw;
    align-content: center;
    color: #268fff;
}
#textareaDescripcion{
    width: 18vw;
    height: 7vw;
    padding: 5px;
    font-size: 1vw;
    color: grey;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    resize: none;
    margin-bottom: 4vw;
}
#guardarCambios {
    height: 2%;
    width: 30%;
    color : #f3f4f5;
    font-size: 1.1vw;
    border-radius: 10px;
    border-color:rgb(200, 208, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    justify-content: center;
}
.opciones{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.opciones h3{
    margin-top: 4vw;
    margin-bottom: 2vw;
    color: rgba(240, 91, 91, 1);
}
#inputEliminarPass{
    padding: 5px;
    font-size: 1.1vw;
    border-color:rgb(200, 208, 255);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#btnEliminarCuenta{
    height: 4vw;
    width: 20%;
    justify-content: center;
    color : #f3f4f5;
    font-size: 1.1vw;
    border-radius: 10px;
    border-color:rgb(200, 208, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.contenedorImagenes {
    display: flex;
    margin-top: 4vw;
    width: 95%;
    height: 18vw;
    padding: 2vw;
    flex-direction:row;
    gap: 5px; 
    border-radius: 10px;
    border: 1px solid rgb(216, 213, 213);
    background-color: rgb(248, 245, 245);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    margin-bottom: 2vw;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    justify-content: flex-start;
}
.btnFotoPerfil {
    display: flex;
    margin-top: 1vw;
    background-color: rgb(68, 156, 223);
    border-radius: 30px 30px 30px 30px;
    width: 22vw;
    height: 4vw;
    cursor: pointer;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    color: white;
}
#divBtnAgregarImg {
    display: flex;
    height: 100%; 
    width: 100%; 
    justify-content: space-around;
    margin-bottom: 4vw;
}
.btnagregareliminarimg {
    display: flex;
    border: hidden;
    background-color: rgb(68, 156, 223);
    border-radius: 30px 30px 30px 30px;
    width: 40%;
    height: 3vw;
    cursor: pointer;
    font-family: 'Calibri Light', Calibri, sans-serif;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    color: white;
}
.imagen-carrusel.seleccionada {
  transform: scale(1.05);
  border: 3px solid rgb(68, 156, 223);
  box-shadow: 0 0 10px rgba(68, 156, 223, 0.7);
}
.contenedorImagenes>img {
    display: block;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 200px; 
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.contenedorImagenes > img:hover {
    transform: scale(1.1); 
}
