.cardOfi{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 20px;
  width: 95%;
  margin-left: 2.5%;
}
.minicard {
  position: relative;
  width: 10%;
  height: 10vw;
  border-radius: 10px;
  overflow: hidden;         
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.textito {
  position: absolute;
  bottom: 5px;
  left: 50%; 
  transform: translateX(-50%);
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: black;
  background: rgba(255,255,255,0.6);
  padding: 2px 6px;
  border-radius: 4px;
}




.cuerpo{
  font-family: 'calibri', sans-serif;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 95%;
  margin-left: 2.5%;
}
.subCont1 {
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw;
  width: 100%;
  height: 90%;
}
.contTexto {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}
